@charset "utf-8";
/* CSS Document */
  #CampaignBuilder {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#CampaignBuilder td, #CampaignBuilder th {
    border: 1px solid #ddd;
    padding: 8px;
}

#CampaignBuilder tr:nth-child(even){background-color: #f2f2f2;}

#CampaignBuilder tr:hover {background-color: #ddd;}

#CampaignBuilder th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
